* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.mission-container {
    max-width: 700px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 6px;
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 0.9rem;
    color: #006eb6;
    letter-spacing: 2px;
    margin-bottom: 15px;;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
}

ul {
    text-align: left;
    margin-top: 15px;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}
